## Europeandataportal.eu 
Test access SPARQL endpoint

In [57]:
import sys,json
import pandas as pd
from SPARQLWrapper import SPARQLWrapper, JSON
endpoint_url = "https://www.europeandataportal.eu/sparql"

query = """SELECT * WHERE {
  ?s ?p ?o
}
limit 100"""


def get_sparql_dataframe(endpoint_url, query):
    # print (query)
    user_agent = "user: salgo60/%s.%s" % (sys.version_info[0], sys.version_info[1])
    sparql = SPARQLWrapper(endpoint_url, agent=user_agent)
    sparql.setQuery(query)
    sparql.setReturnFormat(JSON)
    result = sparql.query().convert()
    print(type(result))
    #print(results)
    column_names = ["s", "p", "q"]
    cols = results["head"]
    out = [] 
    for row in processed_results['head']:
        item = [] 
        print (cols)
        for c in cols: 
            print(row)
            item.append(row.get(c, {}).get('value'))
        
        out.append(item) 
    return pd.DataFrame(out, columns=cols)

df = get_sparql_dataframe(endpoint_url, query)

<class 'dict'>
{'link': [], 'vars': ['s', 'p', 'o']}
link

AttributeError: 'str' object has no attribute 'get'

<class 'dict'>