target site https://www.football-data.co.uk/englandm.php

In [39]:
import pandas as pd
url="https://www.football-data.co.uk/englandm.php"
url="https://www.football-data.co.uk/mmz4281/2122/E0.csv"
df_premier21 = pd.read_csv(url, on_bad_lines='skip')

In [40]:
df_premier21.rename({"FTHG":"home_goals",
                     "FTAG" : "away_goals"},inplace=True)

In [41]:
df_premier21

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E0,13/08/2021,20:00,Brentford,Arsenal,2,0,H,1,0,...,1.62,0.50,1.75,2.05,1.81,2.13,2.05,2.17,1.80,2.09
1,E0,14/08/2021,12:30,Man United,Leeds,5,1,H,1,0,...,2.25,-1.00,2.05,1.75,2.17,1.77,2.19,1.93,2.10,1.79
2,E0,14/08/2021,15:00,Burnley,Brighton,1,2,A,1,0,...,1.62,0.25,1.79,2.15,1.81,2.14,1.82,2.19,1.79,2.12
3,E0,14/08/2021,15:00,Chelsea,Crystal Palace,3,0,H,2,0,...,1.94,-1.50,2.05,1.75,2.12,1.81,2.16,1.93,2.06,1.82
4,E0,14/08/2021,15:00,Everton,Southampton,3,1,H,0,1,...,1.67,-0.50,2.05,1.88,2.05,1.88,2.08,1.90,2.03,1.86
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,E0,22/05/2022,16:00,Crystal Palace,Man United,1,0,H,1,0,...,2.04,0.25,1.68,2.15,1.74,2.23,1.88,2.25,1.74,2.16
376,E0,22/05/2022,16:00,Leicester,Southampton,4,1,H,0,0,...,2.63,-0.75,1.83,2.07,1.88,2.03,1.94,2.26,1.87,2.01
377,E0,22/05/2022,16:00,Liverpool,Wolves,3,1,H,1,1,...,3.28,-2.50,2.02,1.77,2.06,1.83,2.19,1.99,2.07,1.80
378,E0,22/05/2022,16:00,Man City,Aston Villa,3,2,H,0,1,...,3.36,-2.25,2.06,1.84,2.05,1.86,2.09,2.03,2.01,1.87
379,E0,22/05/2022,16:00,Norwich,Tottenham,0,5,A,0,2,...,2.40,1.50,1.95,1.95,1.96,1.94,2.16,1.98,1.99,1.89

In [42]:
import camelot

In [43]:
tb = camelot.read_pdf("foo.pdf")

In [44]:
tb.export('foo2.csv', f='csv', compress=True)
tb[0].parsing_report

{'accuracy': 99.02, 'whitespace': 12.24, 'order': 1, 'page': 1}

In [45]:
tables = camelot.read_pdf('foo.pdf',  flavor='lattice')
print(tables)

tables.export('foo.csv', f='csv', compress=True)
tables[0].to_csv('foo2.csv')  # to a csv file
print(tables[0].df)  # to a df

<TableList n=1>
              0            1                2                     3  \
0  Cycle \nName  KI \n(1/km)  Distance \n(mi)  Percent Fuel Savings
1                                                  Improved \nSpeed
2        2012_2         3.30              1.3                  5.9%
3        2145_1         0.68             11.2                  2.4%
4        4234_1         0.59             58.7                  8.5%
5        2032_2         0.17             57.8                 21.7%
6        4171_1         0.07            173.9                 58.1%

                   4                  5                 6
0
1  Decreased \nAccel  Eliminate \nStops  Decreased \nIdle
2               9.5%              29.2%             17.4%
3               0.1%               9.5%              2.7%
4               1.3%               8.5%              3.3%
5               0.3%               2.7%              1.2%
6               1.6%               2.1%              0.5%

In [46]:
from selenium import webdriver
#from selenium.webdriver.chrome.service import Service
import pandas as pd
from webdriver_manager.chrome import ChromeDriverManager

driver = webdriver.Chrome(ChromeDriverManager().install())

web = 'https://www.thesun.co.uk/sport/football/'
path = '/Users/frankandrade/Downloads/chromedriver'  # introduce path here

# Creating the driver
driver_service = Service(executable_path=path)
#driver = webdriver.Chrome(service=driver_service)
driver = webdriver.Chrome(ChromeDriverManager().install())

driver.get(web)
# Finding Elements
containers = driver.find_elements(by='xpath', value='//div[@class="teaser__copy-container"]')
titles = []
subtitles = []
links = []
for container in containers:
    title = container.find_element(by='xpath', value='./a/h2').text
    subtitle = container.find_element(by='xpath', value='./a/p').text
    link = container.find_element(by='xpath', value='./a').get_attribute('href')
    titles.append(title)
    subtitles.append(subtitle)
    links.append(link)

# Exporting data to a CSV file
my_dict = {'title': titles, 'subtitle': subtitles, 'link': links}
df_headlines = pd.DataFrame(my_dict)
df_headlines.to_csv('headline.csv')

driver.quit()

[WDM] - ====== WebDriver manager ======
[WDM] - Current google-chrome version is 102.0.5005
[WDM] - Get LATEST chromedriver version for 102.0.5005 google-chrome
[WDM] - About to download new driver from https://chromedriver.storage.googleapis.com/102.0.5005.61/chromedriver_mac64.zip
[WDM] - Driver has been saved in cache [/Users/magnus/.wdm/drivers/chromedriver/mac64/102.0.5005.61]
<ipython-input-46-793bc1500ee4>:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(ChromeDriverManager().install())

[WDM] - ====== WebDriver manager ======
[WDM] - Current google-chrome version is 102.0.5005
[WDM] - Get LATEST chromedriver version for 102.0.5005 google-chrome
[WDM] - Driver [/Users/magnus/.wdm/drivers/chromedriver/mac64/102.0.5005.61/chromedriver] found in cache
<ipython-input-46-793bc1500ee4>:14: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(ChromeDriverManager().install())

In [47]:
df_headlines.sample(19)

,title,subtitle,link
10,HOT ROD,Georgina Rodriguez shows bikini tan lines as R...,https://www.thesun.co.uk/sport/football/190009...
40,SAL SEARCHING,Marseille launch £26m permanent bid for Arsena...,https://www.thesun.co.uk/sport/football/190007...
17,PHILL YOUR BOOTS,Man City agree £45million deal for Leeds star ...,https://www.thesun.co.uk/sport/football/189951...
34,ENGLAND 5 NETHERLANDS 1,Beth Mead scores twice to beat Greaves' 61-yea...,https://www.thesun.co.uk/sport/18997761/englan...
18,ALL GON WRONG,Higuain slams Arsenal for claims he was too ex...,https://www.thesun.co.uk/sport/football/190010...
0,,,https://www.thesun.co.uk/sport/football/190021...
6,,,https://www.thesun.co.uk/sport/football/189992...
16,ONE WAY TICKETS,Raphinha and Di Maria meet in Ibiza as they pr...,https://www.thesun.co.uk/sport/football/190015...
38,'I WANT TO PLAY',Kepa warns Chelsea to play him or he will seek...,https://www.thesun.co.uk/sport/football/190008...
24,'VERY DISAPPOINTED',Watford spark outrage by arranging friendly ag...,https://www.thesun.co.uk/sport/football/190009...
8,,,https://www.thesun.co.uk/sport/football/190010...
43,RICH AND POOR,Everton 'must sell in days in boost to Chelsea...,https://www.thesun.co.uk/sport/football/189991...
12,ROO THE DAY,Rooney leaves Hourihane in transfer limbo afte...,https://www.thesun.co.uk/sport/19002215/wayne-...
27,NEYM YOUR PRICE,Neymar's agents 'open talks with Juventus over...,https://www.thesun.co.uk/sport/football/189989...
29,CEK HIM OUT,"Newcastle, Villa and Everton on alert with Sou...",https://www.thesun.co.uk/sport/18996629/west-h...
5,,,https://www.thesun.co.uk/sport/19000157/man-ut...
15,MO SELLER,Liverpool may let Salah LEAVE for £60m with Re...,https://www.thesun.co.uk/sport/18996844/liverp...
30,BOTMAN BEGINS,Newcastle finally strike £39m deal for Botman ...,https://www.thesun.co.uk/sport/18996542/newcas...
25,TON OF INTEREST,Frankfurt & Lyon enter transfer battle with Pr...,https://www.thesun.co.uk/sport/19001593/frankf...