# Dataset Pågående sjukfall per diagnos, specifikt för stressrelaterade sjukdomar 2005–

[Datamängd tillhandahållen av Försäkringskassan](https://oppnadata.se/datamangd/#esc_entry=4778&esc_context=547)

In [5]:
from IPython.display  import JSON
import requests
import json
baseUrl = "https://catalog.forsakringskassan.se/rowstore/dataset/"
endpoint = "bc40aa99-d0a1-4ee0-853c-2d4306c7fad2"
headers = {'content-type': 'application/json'}
url = baseUrl + endpoint
url

'https://catalog.forsakringskassan.se/rowstore/dataset/bc40aa99-d0a1-4ee0-853c-2d4306c7fad2'

In [6]:
# Call the API
req = requests.get(url,headers=headers)
data = json.loads(req.text)
type(data['results'])

list

In [7]:
len(data['results'])

100

In [8]:
import pandas as pd
from pandas.io.json import json_normalize

df = json_normalize(data['results'])

In [9]:
df.describe()

,kvartal,ar,lan_text,antal_f43_man,andel_f43_kvinna,andel_f43_man,antal_f43_kvinna,kommun_kod,lan_kod,andel_f43_samtliga,kommun_text,antal_f43_samtliga
count,100,100,100,100,100,100,100,100,100,100,100,100
unique,1,1,10,46,66,66,58,100,10,95,92,75
top,1,2005,Stockholms län,,,,,0763,01,,Samtliga kommuner,
freq,100,100,27,34,34,34,34,1,27,4,9,4