## Naturv√•rdsregistret
OmradeService [Resource GET /omrade ](http://nvpub.vic-metria.nu/naturvardsregistret/resource_OmradeService.html#resource_OmradeService_find_GET)

In [2]:
import requests
import json
url = "http://nvpub.vic-metria.nu/naturvardsregistret/rest/omrade"
req = requests.get(url) 
# Ensure we fail fast if the web request failed
req.raise_for_status() 
data = json.loads(req.text)

In [4]:
import pandas as pd
df = pd.DataFrame(data)

In [5]:
df.head()

                                              omrade
0  {'areaHa': 633.58, 'atom.link': [{'@rel': 'mil...
1  {'areaHa': 13.736, 'atom.link': [{'@rel': 'mil...
2  {'areaHa': 3.615, 'atom.link': [{'@rel': 'milj...
3  {'areaHa': 0.564, 'atom.link': [{'@rel': 'milj...
4  {'areaHa': 1619.646, 'atom.link': [{'@rel': 'm...

In [9]:
df.info

<bound method DataFrame.info of                                                omrade
0   {'areaHa': 633.58, 'atom.link': [{'@rel': 'mil...
1   {'areaHa': 13.736, 'atom.link': [{'@rel': 'mil...
2   {'areaHa': 3.615, 'atom.link': [{'@rel': 'milj...
3   {'areaHa': 0.564, 'atom.link': [{'@rel': 'milj...
4   {'areaHa': 1619.646, 'atom.link': [{'@rel': 'm...
..                                                ...
95  {'areaHa': 6.824, 'atom.link': [{'@rel': 'milj...
96  {'areaHa': 0.719, 'atom.link': [{'@rel': 'milj...
97  {'areaHa': 1.104, 'atom.link': [{'@rel': 'milj...
98  {'areaHa': 2.555, 'atom.link': [{'@rel': 'milj...
99  {'areaHa': 19.848, 'atom.link': [{'@rel': 'mil...

[100 rows x 1 columns]>