## Nobel API - check Wikidata and Nobel API
version. 0.2 changed api call and added **Vrandečić EWS**
* This [Jupyter Notebook](https://github.com/salgo60/open-data-examples/blob/master/Nobel%20API.ipynb)  

  * WIkidata property [Property:P8024](https://www.wikidata.org/wiki/Property:P8024)
  * [Developer xone nobelprize.org](https://www.nobelprize.org/about/developer-zone-2/)
      * maybe better API is [api.nobelprize.org/2.0/laureates](https://api.nobelprize.org/2.0/laureates)

In [1]:
from datetime import datetime
now = datetime.now()
print("Last run: ", datetime.now())

Last run:  2020-10-06 21:19:17.489509

In [2]:
import urllib3, json
import pandas as pd 
http = urllib3.PoolManager() 

url ="https://api.nobelprize.org/2.0/laureates?offset=0&limit=1500"
dftot = pd.DataFrame()
r = http.request('GET', url)
data = json.loads(r.data)
dftot = dftot.append(pd.DataFrame(data["laureates"]),sort=False)

In [3]:
dftot.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 949 entries, 0 to 948
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               949 non-null    object
 1   knownName        925 non-null    object
 2   givenName        925 non-null    object
 3   familyName       923 non-null    object
 4   fullName         925 non-null    object
 5   gender           925 non-null    object
 6   birth            924 non-null    object
 7   links            949 non-null    object
 8   nobelPrizes      949 non-null    object
 9   death            628 non-null    object
 10  orgName          24 non-null     object
 11  nativeName       24 non-null     object
 12  acronym          10 non-null     object
 13  founded          23 non-null     object
 14  penName          11 non-null     object
 15  birthCountry     1 non-null      object
 16  birthCountryNow  1 non-null      object
 17  birthContinent   1 non-null      object
dtypes: object(18)
memory usage: 133.6+ KB

In [9]:
dftot.tail(20)

      id  ... birthContinent
929  328  ...            NaN
930  716  ...            NaN
931   63  ...            NaN
932  529  ...            NaN
933  624  ...            NaN
934  673  ...            NaN
935  594  ...            NaN
936  663  ...            NaN
937  739  ...            NaN
938  137  ...            NaN
939   50  ...            NaN
940  483  ...            NaN
941  557  ...            NaN
942  642  ...            NaN
943  559  ...            NaN
944  826  ...            NaN
945  927  ...            NaN
946  265  ...            NaN
947  794  ...            NaN
948  726  ...            NaN

[20 rows x 18 columns]

In [32]:
listNobel = []
for index,row in dftot.iterrows():
    new_item = dict()
    new_item['id'] = row['id']
    try:
        new_item['name_en'] = row['knownName']['en']
    except:
        pass
    try:
        new_item['name_se'] = row['knownName']['se']
    except:
        pass
    new_item['link'] = row['links']['href']
    try:
        new_item['gender'] = row['gender']
    except:
        pass
    listNobel.append(new_item)
NobelTot = pd.DataFrame(listNobel,
                  columns=['id','name_en','name_se','link','gender'])

NobelTot.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 949 entries, 0 to 948
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   id       949 non-null    object
 1   name_en  925 non-null    object
 2   name_se  925 non-null    object
 3   link     949 non-null    object
 4   gender   925 non-null    object
dtypes: object(5)
memory usage: 37.2+ KB

## EWS Vrandečić

In [37]:
NobelTot[NobelTot['name_en'].str.contains("Vrandečić", na=False)]

Empty DataFrame
Columns: [id, name_en, name_se, link, gender]
Index: []

In [38]:
#NobelTot

In [34]:
print("End run: ", datetime.now())

End run:  2020-10-06 23:17:05.330020