**Work in progress**


# Nobel API 2.1 - check Wikidata and Nobel API

The purpose of this Notebook is to have Nobelprize winners in Wikidata in synch with the prizewinners at Nobelprize... lesson learned is that we also find vandalization in Wikidata....


* This [Jupyter Notebook](https://github.com/salgo60/open-data-examples/blob/master/Nobel%20API_2_1.ipynb)  using API 2.1 [api.nobelprize.org/2.1/laureates](https://api.nobelprize.org/2.1/laureates)
  * old [Notebook](https://github.com/salgo60/open-data-examples/blob/master/Nobel%20API.ipynb)
  * [notebook for Nobelprize motivation](https://github.com/salgo60/open-data-examples/blob/master/Nobel%20API_2_1-motivation.ipynb)


  * Wikidata property [Property:P8024](https://www.wikidata.org/wiki/Property:P8024)
  * [Developer zone nobelprize.org](https://www.nobelprize.org/about/developer-zone-2/)
      * API 2.1 [api.nobelprize.org/2.1/laureates](https://api.nobelprize.org/2.1/laureates)
  * [video](https://youtu.be/Iu1JtefueM8) explaining what we do
  
#### Misc
Version history
* 0.1 use API 2.1 --> Nobel API also includes Wikidata Q numbers
##### See also
* Kaggle [nobelfoundation/nobel-laureates](https://www.kaggle.com/nobelfoundation/nobel-laureates) and my [Kaggle Notebook](https://www.kaggle.com/magnusslg/wikidata-nobelprize-synch)

#### Other sources we sync
* Famous people on Uppsala old cemetery [Kulturpersoner Uppsalakyrkog√•rd](https://github.com/salgo60/open-data-examples/blob/master/Check%20WD%20kulturpersoner%20uppsalakyrkogardar.ipynb)
* Swedish Literature Bank - [Litteraturbanken](https://github.com/salgo60/open-data-examples/blob/master/Litteraturbanken%20Author.ipynb) 
  * WD property [P5101](https://www.wikidata.org/wiki/Property_talk:P5101) [P5123](https://www.wikidata.org/wiki/Property_talk:P5123)
* [Nobelprize.org](https://github.com/salgo60/open-data-examples/blob/master/Nobel%20API.ipynb)
  * WD [property 8024](https://www.wikidata.org/wiki/Property:P8024)
* The Swedish National Archive [SBL](https://github.com/salgo60/open-data-examples/blob/master/SBL.ipynb) 
  * WD [property 3217](https://www.wikidata.org/wiki/Property:P3217) 
* The Biographical Dictionary of Swedish Women [SKBL](https://github.com/salgo60/open-data-examples/blob/master/Svenskt%20Kvinnobiografiskt%20lexikon%20part%203.ipynb)
  * WD [property 4963](https://www.wikidata.org/wiki/Property:P4963)
* Swedish Academy - [Svenska Akademien](https://github.com/salgo60/open-data-examples/blob/master/Svenska%20Akademien.ipynb) 
  * WD [property 5325](https://www.wikidata.org/wiki/Property:P5325)

In [1]:
from datetime import datetime
start_time = datetime.now()
print("Last run: ", datetime.now())

Last run:  2022-10-21 07:47:10.979146

In [2]:
import urllib3, json
import pandas as pd 
http = urllib3.PoolManager() 
from flatten_json import flatten 
url ="https://api.nobelprize.org/2.1/laureates?offset=0&limit=1500"
dftot = pd.DataFrame()
r = http.request('GET', url)
data = json.loads(r.data)
#dftot = dftot.append(pd.DataFrame(data["laureates"]),sort=False)
from flatten_json import flatten
dftot = pd.json_normalize(data["laureates"])

In [3]:
#dfnorm.info()

In [4]:
dftot.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 981 entries, 0 to 980
Data columns (total 100 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   id                               981 non-null    object
 1   fileName                         981 non-null    object
 2   gender                           954 non-null    object
 3   sameAs                           981 non-null    object
 4   links                            981 non-null    object
 5   nobelPrizes                      981 non-null    object
 6   knownName.en                     954 non-null    object
 7   knownName.se                     954 non-null    object
 8   givenName.en                     953 non-null    object
 9   givenName.se                     953 non-null    object
 10  familyName.en                    951 non-null    object
 11  familyName.se                    951 non-null    object
 12  fullName.en                      954 non-null    object
 13  fullName.se                      954 non-null    object
 14  birth.date                       954 non-null    object
 15  birth.place.city.en              946 non-null    object
 16  birth.place.city.no              946 non-null    object
 17  birth.place.city.se              946 non-null    object
 18  birth.place.country.en           951 non-null    object
 19  birth.place.country.no           951 non-null    object
 20  birth.place.country.se           951 non-null    object
 21  birth.place.cityNow.en           946 non-null    object
 22  birth.place.cityNow.no           946 non-null    object
 23  birth.place.cityNow.se           946 non-null    object
 24  birth.place.cityNow.sameAs       928 non-null    object
 25  birth.place.countryNow.en        951 non-null    object
 26  birth.place.countryNow.no        951 non-null    object
 27  birth.place.countryNow.se        951 non-null    object
 28  birth.place.countryNow.sameAs    946 non-null    object
 29  birth.place.continent.en         951 non-null    object
 30  birth.place.continent.no         951 non-null    object
 31  birth.place.continent.se         951 non-null    object
 32  birth.place.locationString.en    951 non-null    object
 33  birth.place.locationString.no    951 non-null    object
 34  birth.place.locationString.se    951 non-null    object
 35  wikipedia.slug                   981 non-null    object
 36  wikipedia.english                981 non-null    object
 37  wikidata.id                      981 non-null    object
 38  wikidata.url                     981 non-null    object
 39  death.date                       650 non-null    object
 40  death.place.city.en              632 non-null    object
 41  death.place.city.no              632 non-null    object
 42  death.place.city.se              632 non-null    object
 43  death.place.country.en           638 non-null    object
 44  death.place.country.no           638 non-null    object
 45  death.place.country.se           638 non-null    object
 46  death.place.country.sameAs       597 non-null    object
 47  death.place.cityNow.en           632 non-null    object
 48  death.place.cityNow.no           632 non-null    object
 49  death.place.cityNow.se           632 non-null    object
 50  death.place.cityNow.sameAs       619 non-null    object
 51  death.place.countryNow.en        638 non-null    object
 52  death.place.countryNow.no        638 non-null    object
 53  death.place.countryNow.se        638 non-null    object
 54  death.place.countryNow.sameAs    634 non-null    object
 55  death.place.continent.en         638 non-null    object
 56  death.place.continent.no         638 non-null    object
 57  death.place.continent.se         638 non-null    object
 58  death.place.locationString.en    650 non-null    object
 59  death.place.locationString.no    650 non-null    object
 60  death.place.locationString.se    650 non-null    object
 61  acronym                          14 non-null     object
 62  orgName.en                       27 non-null     object
 63  orgName.no                       21 non-null     object
 64  orgName.se                       27 non-null     object
 65  founded.date                     26 non-null     object
 66  founded.place.city.en            21 non-null     object
 67  founded.place.city.no            21 non-null     object
 68  founded.place.city.se            21 non-null     object
 69  founded.place.country.en         23 non-null     object
 70  founded.place.country.no         23 non-null     object
 71  founded.place.country.se         23 non-null     object
 72  founded.place.country.sameAs     23 non-null     object
 73  founded.place.cityNow.en         21 non-null     object
 74  founded.place.cityNow.no         21 non-null     object
 75  founded.place.cityNow.se         21 non-null     object
 76  founded.place.cityNow.sameAs     21 non-null     object
 77  founded.place.countryNow.en      23 non-null     object
 78  founded.place.countryNow.no      23 non-null     object
 79  founded.place.countryNow.se      23 non-null     object
 80  founded.place.countryNow.sameAs  23 non-null     object
 81  founded.place.continent.en       23 non-null     object
 82  founded.place.continent.no       23 non-null     object
 83  founded.place.continent.se       23 non-null     object
 84  founded.place.locationString.en  26 non-null     object
 85  founded.place.locationString.no  26 non-null     object
 86  founded.place.locationString.se  26 non-null     object
 87  nativeName                       26 non-null     object
 88  penName                          11 non-null     object
 89  knownName.no                     5 non-null      object
 90  givenName.no                     4 non-null      object
 91  familyName.no                    4 non-null      object
 92  fullName.no                      4 non-null      object
 93  foundedCountry.en                1 non-null      object
 94  foundedCountry.no                1 non-null      object
 95  foundedCountry.se                1 non-null      object
 96  foundedCountryNow.en             1 non-null      object
 97  foundedCountryNow.no             1 non-null      object
 98  foundedCountryNow.se             1 non-null      object
 99  foundedContinent.en              1 non-null      object
dtypes: object(100)
memory usage: 766.5+ KB

In [5]:
dftot["id"] = dftot["id"].astype("int") 
dftot["id"] = dftot["id"].astype("int") 


dftot.sort_values(by=['id'], ascending=[True], inplace=True)
dftot.tail(4)

,id,fileName,gender,sameAs,links,nobelPrizes,knownName.en,knownName.se,givenName.en,givenName.se,...,givenName.no,familyName.no,fullName.no,foundedCountry.en,foundedCountry.no,foundedCountry.se,foundedCountryNow.en,foundedCountryNow.no,foundedCountryNow.se,foundedContinent.en
132,1020,center-for-civil-liberties,NaN,"[https://www.wikidata.org/wiki/Q114452906, htt...","[{'rel': 'laureate', 'href': 'https://api.nobe...","[{'awardYear': '2022', 'category': {'en': 'Pea...",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
95,1021,bernanke,male,"[https://www.wikidata.org/wiki/Q201795, https:...","[{'rel': 'laureate', 'href': 'https://api.nobe...","[{'awardYear': '2022', 'category': {'en': 'Eco...",Ben Bernanke,Ben Bernanke,Ben,Ben,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
196,1022,diamond,male,"[https://www.wikidata.org/wiki/Q185871, https:...","[{'rel': 'laureate', 'href': 'https://api.nobe...","[{'awardYear': '2022', 'category': {'en': 'Eco...",Douglas Diamond,Douglas Diamond,Douglas,Douglas,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
719,1023,dybvig,male,"[https://www.wikidata.org/wiki/Q24565948, http...","[{'rel': 'laureate', 'href': 'https://api.nobe...","[{'awardYear': '2022', 'category': {'en': 'Eco...",Philip Dybvig,Philip Dybvig,Philip,Philip,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
#Test flatten 
#from pandas.json_normalize import json_normalize
#from pandas.io.json.normalize import nested_to_record
from pandas import json_normalize
#dftotPrize = json_normalize(data=data['laureates'], record_path='nobelPrizes', 
#                            meta=['id', 'filename','gender', 'wikidata'],errors='ignore') 
dftotPrize = json_normalize(data=data["laureates"])
dftotPrize.shape

(981, 100)

In [7]:
dftotPrize.sample(5)

,id,fileName,gender,sameAs,links,nobelPrizes,knownName.en,knownName.se,givenName.en,givenName.se,...,givenName.no,familyName.no,fullName.no,foundedCountry.en,foundedCountry.no,foundedCountry.se,foundedCountryNow.en,foundedCountryNow.no,foundedCountryNow.se,foundedContinent.en
760,554,tum,female,"[https://www.wikidata.org/wiki/Q188620, https:...","[{'rel': 'laureate', 'href': 'https://api.nobe...","[{'awardYear': '1992', 'category': {'en': 'Pea...",Rigoberta Mench√∫ Tum,Rigoberta Mench√∫ Tum,Rigoberta,Rigoberta,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
564,686,kantorovich,male,"[https://www.wikidata.org/wiki/Q107441, https:...","[{'rel': 'laureate', 'href': 'https://api.nobe...","[{'awardYear': '1975', 'category': {'en': 'Eco...",Leonid Vitaliyevich Kantorovich,Leonid Vitaliyevich Kantorovich,Leonid Vitaliyevich,Leonid Vitaliyevich,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
381,462,dunant,male,"[https://www.wikidata.org/wiki/Q12091, https:/...","[{'rel': 'laureate', 'href': 'https://api.nobe...","[{'awardYear': '1901', 'category': {'en': 'Pea...",Henry Dunant,Henry Dunant,Henry,Henry,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
959,249,lipscomb,male,"[https://www.wikidata.org/wiki/Q110935, https:...","[{'rel': 'laureate', 'href': 'https://api.nobe...","[{'awardYear': '1976', 'category': {'en': 'Che...",William Lipscomb,William Lipscomb,William,William,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
338,418,hounsfield,male,"[https://www.wikidata.org/wiki/Q273769, https:...","[{'rel': 'laureate', 'href': 'https://api.nobe...","[{'awardYear': '1979', 'category': {'en': 'Phy...",Godfrey N. Hounsfield,Godfrey N. Hounsfield,Godfrey N.,Godfrey N.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
dftotPrize["penName"].value_counts()

(pen-name of Jacques Anatole Thibault)          1
(pen-name of Lucila Godoy y Alcayaga)           1
(pen-name of Giorgos Seferiadis)                1
(pen-name of Grazia Madesani, n√©e Deledda)      1
(pen-name of Guan Moye)                         1
(pen-name of Odysseus Alepoudhelis)             1
(pen-name of Neftal√≠ Ricardo Reyes Basoalto)    1
(pen-name of Pearl Walsh, n√©e Sydenstricker)    1
(pen-name of Alexis L√©ger)                      1
(pen-name of Ren√© Fran√ßois Armand Prudhomme)    1
(pen-name of Rejment)                           1
Name: penName, dtype: int64

In [9]:
dftotPrize["birth.place.countryNow.en"].value_counts()

USA               284
United Kingdom     89
Germany            84
France             59
Sweden             30
                 ...
Ghana               1
Vietnam             1
Croatia             1
Azerbaijan          1
Taiwan              1
Name: birth.place.countryNow.en, Length: 84, dtype: int64

In [10]:
dftotPrize.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 981 entries, 0 to 980
Data columns (total 100 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   id                               981 non-null    object
 1   fileName                         981 non-null    object
 2   gender                           954 non-null    object
 3   sameAs                           981 non-null    object
 4   links                            981 non-null    object
 5   nobelPrizes                      981 non-null    object
 6   knownName.en                     954 non-null    object
 7   knownName.se                     954 non-null    object
 8   givenName.en                     953 non-null    object
 9   givenName.se                     953 non-null    object
 10  familyName.en                    951 non-null    object
 11  familyName.se                    951 non-null    object
 12  fullName.en                      954 non-null    object
 13  fullName.se                      954 non-null    object
 14  birth.date                       954 non-null    object
 15  birth.place.city.en              946 non-null    object
 16  birth.place.city.no              946 non-null    object
 17  birth.place.city.se              946 non-null    object
 18  birth.place.country.en           951 non-null    object
 19  birth.place.country.no           951 non-null    object
 20  birth.place.country.se           951 non-null    object
 21  birth.place.cityNow.en           946 non-null    object
 22  birth.place.cityNow.no           946 non-null    object
 23  birth.place.cityNow.se           946 non-null    object
 24  birth.place.cityNow.sameAs       928 non-null    object
 25  birth.place.countryNow.en        951 non-null    object
 26  birth.place.countryNow.no        951 non-null    object
 27  birth.place.countryNow.se        951 non-null    object
 28  birth.place.countryNow.sameAs    946 non-null    object
 29  birth.place.continent.en         951 non-null    object
 30  birth.place.continent.no         951 non-null    object
 31  birth.place.continent.se         951 non-null    object
 32  birth.place.locationString.en    951 non-null    object
 33  birth.place.locationString.no    951 non-null    object
 34  birth.place.locationString.se    951 non-null    object
 35  wikipedia.slug                   981 non-null    object
 36  wikipedia.english                981 non-null    object
 37  wikidata.id                      981 non-null    object
 38  wikidata.url                     981 non-null    object
 39  death.date                       650 non-null    object
 40  death.place.city.en              632 non-null    object
 41  death.place.city.no              632 non-null    object
 42  death.place.city.se              632 non-null    object
 43  death.place.country.en           638 non-null    object
 44  death.place.country.no           638 non-null    object
 45  death.place.country.se           638 non-null    object
 46  death.place.country.sameAs       597 non-null    object
 47  death.place.cityNow.en           632 non-null    object
 48  death.place.cityNow.no           632 non-null    object
 49  death.place.cityNow.se           632 non-null    object
 50  death.place.cityNow.sameAs       619 non-null    object
 51  death.place.countryNow.en        638 non-null    object
 52  death.place.countryNow.no        638 non-null    object
 53  death.place.countryNow.se        638 non-null    object
 54  death.place.countryNow.sameAs    634 non-null    object
 55  death.place.continent.en         638 non-null    object
 56  death.place.continent.no         638 non-null    object
 57  death.place.continent.se         638 non-null    object
 58  death.place.locationString.en    650 non-null    object
 59  death.place.locationString.no    650 non-null    object
 60  death.place.locationString.se    650 non-null    object
 61  acronym                          14 non-null     object
 62  orgName.en                       27 non-null     object
 63  orgName.no                       21 non-null     object
 64  orgName.se                       27 non-null     object
 65  founded.date                     26 non-null     object
 66  founded.place.city.en            21 non-null     object
 67  founded.place.city.no            21 non-null     object
 68  founded.place.city.se            21 non-null     object
 69  founded.place.country.en         23 non-null     object
 70  founded.place.country.no         23 non-null     object
 71  founded.place.country.se         23 non-null     object
 72  founded.place.country.sameAs     23 non-null     object
 73  founded.place.cityNow.en         21 non-null     object
 74  founded.place.cityNow.no         21 non-null     object
 75  founded.place.cityNow.se         21 non-null     object
 76  founded.place.cityNow.sameAs     21 non-null     object
 77  founded.place.countryNow.en      23 non-null     object
 78  founded.place.countryNow.no      23 non-null     object
 79  founded.place.countryNow.se      23 non-null     object
 80  founded.place.countryNow.sameAs  23 non-null     object
 81  founded.place.continent.en       23 non-null     object
 82  founded.place.continent.no       23 non-null     object
 83  founded.place.continent.se       23 non-null     object
 84  founded.place.locationString.en  26 non-null     object
 85  founded.place.locationString.no  26 non-null     object
 86  founded.place.locationString.se  26 non-null     object
 87  nativeName                       26 non-null     object
 88  penName                          11 non-null     object
 89  knownName.no                     5 non-null      object
 90  givenName.no                     4 non-null      object
 91  familyName.no                    4 non-null      object
 92  fullName.no                      4 non-null      object
 93  foundedCountry.en                1 non-null      object
 94  foundedCountry.no                1 non-null      object
 95  foundedCountry.se                1 non-null      object
 96  foundedCountryNow.en             1 non-null      object
 97  foundedCountryNow.no             1 non-null      object
 98  foundedCountryNow.se             1 non-null      object
 99  foundedContinent.en              1 non-null      object
dtypes: object(100)
memory usage: 766.5+ KB

In [11]:
#dftotPrize["death.place.country.sameAs"].value_counts()

In [12]:
dftotPrize.sample(4)

,id,fileName,gender,sameAs,links,nobelPrizes,knownName.en,knownName.se,givenName.en,givenName.se,...,givenName.no,familyName.no,fullName.no,foundedCountry.en,foundedCountry.no,foundedCountry.se,foundedCountryNow.en,foundedCountryNow.no,foundedCountryNow.se,foundedContinent.en
941,224,libby,male,"[https://www.wikidata.org/wiki/Q190486, https:...","[{'rel': 'laureate', 'href': 'https://api.nobe...","[{'awardYear': '1960', 'category': {'en': 'Che...",Willard F. Libby,Willard F. Libby,Willard F.,Willard F.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
782,297,koch,male,"[https://www.wikidata.org/wiki/Q37193, https:/...","[{'rel': 'laureate', 'href': 'https://api.nobe...","[{'awardYear': '1905', 'category': {'en': 'Phy...",Robert Koch,Robert Koch,Robert,Robert,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
936,361,forssmann,male,"[https://www.wikidata.org/wiki/Q77152, https:/...","[{'rel': 'laureate', 'href': 'https://api.nobe...","[{'awardYear': '1956', 'category': {'en': 'Phy...",Werner Forssmann,Werner Forssmann,Werner,Werner,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
274,778,wilczek,male,"[https://www.wikidata.org/wiki/Q107450, https:...","[{'rel': 'laureate', 'href': 'https://api.nobe...","[{'awardYear': '2004', 'category': {'en': 'Phy...",Frank Wilczek,Frank Wilczek,Frank,Frank,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Check Wikidata matches

In [13]:
# pip install sparqlwrapper
# https://rdflib.github.io/sparqlwrapper/

import sys
from SPARQLWrapper import SPARQLWrapper, JSON

endpoint_url = "https://query.wikidata.org/sparql"

query = """SELECT ?WDitem ?WDitemLabel ?WDNobelAPI ?WDdeath WHERE {
  ?WDitem wdt:P8024 ?WDNobelAPI.
  OPTIONAL {?WDitem wdt:P570 ?WDdeath}
  SERVICE wikibase:label { bd:serviceParam wikibase:language "en". }
} order by xsd:integer(?WDNobelAPI)"""


def get_sparql_dataframe(endpoint_url, query):
    """
    Helper function to convert SPARQL results into a Pandas data frame.
    """
    user_agent = "salgo60/%s.%s" % (sys.version_info[0], sys.version_info[1])
 
    sparql = SPARQLWrapper(endpoint_url, agent=user_agent)
    sparql.setQuery(query)
    sparql.setReturnFormat(JSON)
    result = sparql.query()

    processed_results = json.load(result.response)
    cols = processed_results['head']['vars']
    out = []
    for row in processed_results['results']['bindings']:
        item = []
        for c in cols:
            item.append(row.get(c, {}).get('value'))
        out.append(item)

    return pd.DataFrame(out, columns=cols)

WDNobel = get_sparql_dataframe(endpoint_url, query)

In [14]:
WDNobel["WDNobelAPI"] = WDNobel["WDNobelAPI"].astype("int")
WDNobel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 991 entries, 0 to 990
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   WDitem       991 non-null    object
 1   WDitemLabel  991 non-null    object
 2   WDNobelAPI   991 non-null    int64
 3   WDdeath      661 non-null    object
dtypes: int64(1), object(3)
memory usage: 31.1+ KB

### Compare WD <-> Nobel

In [15]:
WDNobel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 991 entries, 0 to 990
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   WDitem       991 non-null    object
 1   WDitemLabel  991 non-null    object
 2   WDNobelAPI   991 non-null    int64
 3   WDdeath      661 non-null    object
dtypes: int64(1), object(3)
memory usage: 31.1+ KB

In [16]:
dftotPrize["id"] = dftotPrize["id"].astype("int")

#dftotPrize.info()

In [17]:
dfmerge = pd.merge(WDNobel, dftotPrize,how='outer', left_on="WDNobelAPI",right_on="id",indicator=True)
dfmerge['_merge'] = dfmerge['_merge'].str.replace('left_only','WD_only').str.replace('right_only','Nobel_only')
dfmerge.rename(columns={"_merge": "WD_Nobel"},inplace = True)    
#dfmerge[-10:]

In [18]:
dfmerge[dfmerge["WD_Nobel"]!="both"]

Empty DataFrame
Columns: [WDitem, WDitemLabel, WDNobelAPI, WDdeath, id, fileName, gender, sameAs, links, nobelPrizes, knownName.en, knownName.se, givenName.en, givenName.se, familyName.en, familyName.se, fullName.en, fullName.se, birth.date, birth.place.city.en, birth.place.city.no, birth.place.city.se, birth.place.country.en, birth.place.country.no, birth.place.country.se, birth.place.cityNow.en, birth.place.cityNow.no, birth.place.cityNow.se, birth.place.cityNow.sameAs, birth.place.countryNow.en, birth.place.countryNow.no, birth.place.countryNow.se, birth.place.countryNow.sameAs, birth.place.continent.en, birth.place.continent.no, birth.place.continent.se, birth.place.locationString.en, birth.place.locationString.no, birth.place.locationString.se, wikipedia.slug, wikipedia.english, wikidata.id, wikidata.url, death.date, death.place.city.en, death.place.city.no, death.place.city.se, death.place.country.en, death.place.country.no, death.place.country.se, death.place.country.sameAs, death.place.cityNow.en, death.place.cityNow.no, death.place.cityNow.se, death.place.cityNow.sameAs, death.place.countryNow.en, death.place.countryNow.no, death.place.countryNow.se, death.place.countryNow.sameAs, death.place.continent.en, death.place.continent.no, death.place.continent.se, death.place.locationString.en, death.place.locationString.no, death.place.locationString.se, acronym, orgName.en, orgName.no, orgName.se, founded.date, founded.place.city.en, founded.place.city.no, founded.place.city.se, founded.place.country.en, founded.place.country.no, founded.place.country.se, founded.place.country.sameAs, founded.place.cityNow.en, founded.place.cityNow.no, founded.place.cityNow.se, founded.place.cityNow.sameAs, founded.place.countryNow.en, founded.place.countryNow.no, founded.place.countryNow.se, founded.place.countryNow.sameAs, founded.place.continent.en, founded.place.continent.no, founded.place.continent.se, founded.place.locationString.en, founded.place.locationString.no, founded.place.locationString.se, nativeName, penName, knownName.no, givenName.no, familyName.no, fullName.no, foundedCountry.en, foundedCountry.no, foundedCountry.se, ...]
Index: []

[0 rows x 105 columns]

In [19]:
WDNobel['wikidata'] = WDNobel['WDitem'].str.replace('http://www.wikidata.org/entity/','')

<ipython-input-19-148fcb106129>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  WDNobel['wikidata'] = WDNobel['WDitem'].str.replace('http://www.wikidata.org/entity/','')

In [20]:
WDNobel.head()

,WDitem,WDitemLabel,WDNobelAPI,WDdeath,wikidata
0,http://www.wikidata.org/entity/Q35149,Wilhelm R√∂ntgen,1,1923-02-10T00:00:00Z,Q35149
1,http://www.wikidata.org/entity/Q41688,Hendrik Lorentz,2,1928-02-04T00:00:00Z,Q41688
2,http://www.wikidata.org/entity/Q79000,Pieter Zeeman,3,1943-10-09T00:00:00Z,Q79000
3,http://www.wikidata.org/entity/Q41269,Henri Becquerel,4,1908-08-25T00:00:00Z,Q41269
4,http://www.wikidata.org/entity/Q37463,Pierre Curie,5,1906-04-19T00:00:00Z,Q37463

In [21]:
WDNobel.tail()

,WDitem,WDitemLabel,WDNobelAPI,WDdeath,wikidata
986,http://www.wikidata.org/entity/Q851563,Memorial,1019,None,Q851563
987,http://www.wikidata.org/entity/Q114452906,Center for Civil Liberties,1020,None,Q114452906
988,http://www.wikidata.org/entity/Q201795,Ben Bernanke,1021,None,Q201795
989,http://www.wikidata.org/entity/Q185871,Douglas Diamond,1022,None,Q185871
990,http://www.wikidata.org/entity/Q24565948,Philip H. Dybvig,1023,None,Q24565948

In [22]:
#Merge on the Wikidata Qnumber at NobelTot  
dfmergeWD = pd.merge(WDNobel, dftotPrize,how='outer', left_on="wikidata",right_on="wikidata.id",indicator=True)
dfmergeWD['_merge'] = dfmergeWD['_merge'].str.replace('left_only','WD_only').str.replace('right_only','Nobel_only')
dfmergeWD.rename(columns={"_merge": "WD_Nobel"},inplace = True)    
dfmergeWD["WD_Nobel"].value_counts()

both          990
WD_only         1
Nobel_only      1
Name: WD_Nobel, dtype: int64

In [23]:
dfmergeWD[dfmergeWD["WD_Nobel"]!="both"]

,WDitem,WDitemLabel,WDNobelAPI,WDdeath,wikidata,id,fileName,gender,sameAs,links,...,familyName.no,fullName.no,foundedCountry.en,foundedCountry.no,foundedCountry.se,foundedCountryNow.en,foundedCountryNow.no,foundedCountryNow.se,foundedContinent.en,WD_Nobel
816,http://www.wikidata.org/entity/Q42037,Jean-Marie Gustave Le Cl√©zio,832.0,None,Q42037,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WD_only
991,NaN,NaN,NaN,NaN,NaN,832.0,clezio,male,"[https://www.wikidata.org/wiki/Q7884119, https...","[{'rel': 'laureate', 'href': 'https://api.nobe...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Nobel_only

#### Check that Wikidata and api.nobelprize.org is in synch

In [24]:
dfmerge["WD_Nobel"].value_counts()

both    991
Name: WD_Nobel, dtype: int64

In [25]:
Nobelonly = dfmerge[dfmerge["WD_Nobel"]=="Nobel_only"].copy() 

from IPython.display import HTML
#Nobelonly["Nobel"] = "<a href='https://api.nobelprize.org/v1/laureate.json?id=" + Nobelonly["id"] + "'>link</a>"
#Nobelonly["Nobelhtml"] = "<a href='https://www.nobelprize.org/laureate/" + Nobelonly["id"] + "'>html</a>"
#pd.set_option("display.max.columns", None) 
#HTML(Nobelonly.to_html(escape=False))

In [26]:
dfmerge.to_csv("Nobel_dfmerge_2_1.csv")
Nobelonly.to_csv("Nobel_only.csv")

In [27]:
WDonly = dfmerge[dfmerge["WD_Nobel"]=="WD_only"].copy() 
WDonly

Empty DataFrame
Columns: [WDitem, WDitemLabel, WDNobelAPI, WDdeath, id, fileName, gender, sameAs, links, nobelPrizes, knownName.en, knownName.se, givenName.en, givenName.se, familyName.en, familyName.se, fullName.en, fullName.se, birth.date, birth.place.city.en, birth.place.city.no, birth.place.city.se, birth.place.country.en, birth.place.country.no, birth.place.country.se, birth.place.cityNow.en, birth.place.cityNow.no, birth.place.cityNow.se, birth.place.cityNow.sameAs, birth.place.countryNow.en, birth.place.countryNow.no, birth.place.countryNow.se, birth.place.countryNow.sameAs, birth.place.continent.en, birth.place.continent.no, birth.place.continent.se, birth.place.locationString.en, birth.place.locationString.no, birth.place.locationString.se, wikipedia.slug, wikipedia.english, wikidata.id, wikidata.url, death.date, death.place.city.en, death.place.city.no, death.place.city.se, death.place.country.en, death.place.country.no, death.place.country.se, death.place.country.sameAs, death.place.cityNow.en, death.place.cityNow.no, death.place.cityNow.se, death.place.cityNow.sameAs, death.place.countryNow.en, death.place.countryNow.no, death.place.countryNow.se, death.place.countryNow.sameAs, death.place.continent.en, death.place.continent.no, death.place.continent.se, death.place.locationString.en, death.place.locationString.no, death.place.locationString.se, acronym, orgName.en, orgName.no, orgName.se, founded.date, founded.place.city.en, founded.place.city.no, founded.place.city.se, founded.place.country.en, founded.place.country.no, founded.place.country.se, founded.place.country.sameAs, founded.place.cityNow.en, founded.place.cityNow.no, founded.place.cityNow.se, founded.place.cityNow.sameAs, founded.place.countryNow.en, founded.place.countryNow.no, founded.place.countryNow.se, founded.place.countryNow.sameAs, founded.place.continent.en, founded.place.continent.no, founded.place.continent.se, founded.place.locationString.en, founded.place.locationString.no, founded.place.locationString.se, nativeName, penName, knownName.no, givenName.no, familyName.no, fullName.no, foundedCountry.en, foundedCountry.no, foundedCountry.se, ...]
Index: []

[0 rows x 105 columns]

In [28]:
print("End run: ", datetime.now())

End run:  2022-10-21 07:47:14.350743

In [29]:
print('Time elapsed (hh:mm:ss.ms) {}'.format(datetime.now() - start_time))

Time elapsed (hh:mm:ss.ms) 0:00:03.376840

## Lesson learned
Its a delay when the html page is linked after the announcement --> we do this list below to check when its ready and we can add it to Wikidata and the WIkipedia article

Status 20201009 :
* Ok all has html pages

Templates supporting Wikidata Property 8024 = Wikidata [Q91652187](https://www.wikidata.org/wiki/Q91652187)
* ar:Wikipedia [ŸÇÿßŸÑÿ®:ÿ¨ÿßÿ¶ÿ≤ÿ©_ŸÜŸàÿ®ŸÑ](https://ar.wikipedia.org/wiki/%D9%82%D8%A7%D9%84%D8%A8:%D8%AC%D8%A7%D8%A6%D8%B2%D8%A9_%D9%86%D9%88%D8%A8%D9%84)
* ca:wikipedia [Plantilla:Nobelprize](https://ca.wikipedia.org/wiki/Plantilla:Nobelprize)
* en:Wikipedia [Template:Nobelprize](https://en.wikipedia.org/wiki/Template:Nobelprize)
* ka:Wikipedia [·Éó·Éê·É†·Éí·Éò:Nobelprize](https://ka.wikipedia.org/wiki/%E1%83%97%E1%83%90%E1%83%A0%E1%83%92%E1%83%98:Nobelprize)
* nn:Wikipedia [Mal:Nobelprize](https://nn.wikipedia.org/wiki/Mal:Nobelprize)
* pt:Wikipedia [Predefini√ß√£o:Pr√©mio Nobel](https://pt.wikipedia.org/wiki/Predefini%C3%A7%C3%A3o:Pr%C3%A9mio_Nobel)
* sv:Wikipedia [Mall:Nobelprize](https://sv.wikipedia.org/wiki/Mall:Nobelprize)
* sr:WIkipedia [–®–∞–±–ª–æ–Ω:Nobelprize](https://sr.wikipedia.org/wiki/%D0%A8%D0%B0%D0%B1%D0%BB%D0%BE%D0%BD:Nobelprize)

* Articles using [template](https://www.wikidata.org/wiki/Q91652187) and view statistics this year and during the [Nobel week](https://www.nobelprize.org/press/#/publication/5f1719e411aab40004a17f36/552bd85dccc8e20c00e7f979?&sh=false)  5-12 October 2020 on those articles see also [video](https://youtu.be/Iu1JtefueM8)
  * ar:Wikipedia [using](https://petscan.wmflabs.org/?psid=17573153) / not using
    * [statistics](https://pageviews.toolforge.org/massviews/?platform=all-access&agent=user&source=category&range=this-year&subjectpage=0&subcategories=0&sort=views&direction=1&view=list&target=https://ar.wikipedia.org/wiki/%25D8%25AA%25D8%25B5%25D9%2586%25D9%258A%25D9%2581:%25D9%2582%25D8%25A7%25D9%2584%25D8%25A8_%25D8%25AC%25D8%25A7%25D8%25A6%25D8%25B2%25D8%25A9_%25D9%2586%25D9%2588%25D8%25A8%25D9%2584_%25D9%258A%25D8%25B3%25D8%25AA%25D8%25B9%25D9%2585%25D9%2584_%25D8%25AE%25D8%25A7%25D8%25B5%25D8%25A9_%25D9%2588%25D9%258A%25D9%2583%25D9%258A_%25D8%25A8%25D9%258A%25D8%25A7%25D9%2586%25D8%25A7%25D8%25AA_P8024) / [Nobel week](https://pageviews.toolforge.org/massviews/?platform=all-access&agent=user&source=category&start=2020-10-05&end=2020-10-12&subjectpage=0&subcategories=0&sort=views&direction=1&view=list&target=https://ar.wikipedia.org/wiki/%25D8%25AA%25D8%25B5%25D9%2586%25D9%258A%25D9%2581:%25D9%2582%25D8%25A7%25D9%2584%25D8%25A8_%25D8%25AC%25D8%25A7%25D8%25A6%25D8%25B2%25D8%25A9_%25D9%2586%25D9%2588%25D8%25A8%25D9%2584_%25D9%258A%25D8%25B3%25D8%25AA%25D8%25B9%25D9%2585%25D9%2584_%25D8%25AE%25D8%25A7%25D8%25B5%25D8%25A9_%25D9%2588%25D9%258A%25D9%2583%25D9%258A_%25D8%25A8%25D9%258A%25D8%25A7%25D9%2586%25D8%25A7%25D8%25AA_P8024)
  * ca:Wikipedia miss track category [Q91672712](https://www.wikidata.org/wiki/Q91672712#sitelinks-wikipedia)
  * en:Wikipedia [using](https://petscan.wmflabs.org/?psid=17573140) / [not using](https://petscan.wmflabs.org/?psid=17579263) 
    * [statistics](https://pageviews.toolforge.org/massviews/?platform=all-access&agent=user&source=category&range=this-year&subjectpage=0&subcategories=0&sort=views&direction=1&view=list&target=https://en.wikipedia.org/wiki/Category:Nobelprize_template_using_Wikidata_property_P8024) / [Nobel week](https://pageviews.toolforge.org/massviews/?platform=all-access&agent=user&source=category&start=2020-10-05&end=2020-10-12&subjectpage=0&subcategories=0&sort=views&direction=1&view=list&target=https://en.wikipedia.org/wiki/Category:Nobelprize_template_using_Wikidata_property_P8024) as a [chart](https://pageviews.toolforge.org/massviews/?platform=all-access&agent=user&source=category&start=2020-10-05&end=2020-10-10&subjectpage=0&subcategories=0&sort=views&direction=1&view=chart&target=https://en.wikipedia.org/wiki/Category:Nobelprize%20template%20using%20Wikidata%20property%20P8024)
  * ka:Wikipedia miss track category [Q91672712](https://www.wikidata.org/wiki/Q91672712#sitelinks-wikipedia)
  * nn:Wikipedia [using](https://petscan.wmflabs.org/?psid=17573155) / not using 
     * [statistics](https://pageviews.toolforge.org/massviews/?platform=all-access&agent=user&source=category&range=this-year&subjectpage=0&subcategories=0&sort=views&direction=1&view=list&target=https://nn.wikipedia.org/wiki/Kategori:Sider_som_nyttar_Mal:Nobelprize) / [Nobel week](https://pageviews.toolforge.org/massviews/?platform=all-access&agent=user&source=category&start=2020-10-05&end=2020-10-12&subjectpage=0&subcategories=0&sort=views&direction=1&view=list&target=https://nn.wikipedia.org/wiki/Kategori:Sider_som_nyttar_Mal:Nobelprize)
  * pt:Wikipedia [using](https://petscan.wmflabs.org/?psid=17573158) / [not using](https://petscan.wmflabs.org/?psid=17579612) 
     * [statistics](https://pageviews.toolforge.org/massviews/?platform=all-access&agent=user&source=category&range=this-year&subjectpage=0&subcategories=0&sort=views&direction=1&view=list&target=https://pt.wikipedia.org/wiki/Categoria:Predefini%25C3%25A7%25C3%25A3o_sobre_pr%25C3%25A9mios_Nobel_que_usam_a_propriedade_do_Wikidata_P8024) / [Nobel week](https://pageviews.toolforge.org/massviews/?platform=all-access&agent=user&source=category&start=2020-10-05&end=2020-10-12&subjectpage=0&subcategories=0&sort=views&direction=1&view=list&target=https://pt.wikipedia.org/wiki/Categoria:Predefini%25C3%25A7%25C3%25A3o_sobre_pr%25C3%25A9mios_Nobel_que_usam_a_propriedade_do_Wikidata_P8024)
  * sv:Wikipedia [using](https://petscan.wmflabs.org/?psid=17573129) / not using 
    * [statistics](https://pageviews.toolforge.org/massviews/?platform=all-access&agent=user&source=category&range=this-year&subjectpage=0&subcategories=0&sort=views&direction=1&view=list&target=https://sv.wikipedia.org/wiki/Kategori:Sidor_som_anv%25C3%25A4nder_Mall:Nobelprize) / [Nobel week](https://pageviews.toolforge.org/massviews/?platform=all-access&agent=user&source=category&start=2020-10-05&end=2020-10-12&subjectpage=0&subcategories=0&sort=views&direction=1&view=list&target=https://sv.wikipedia.org/wiki/Kategori:Sidor_som_anv%25C3%25A4nder_Mall:Nobelprize)
  * sr:Wikipedia miss track category [Q91672712](https://www.wikidata.org/wiki/Q91672712#sitelinks-wikipedia)
  
Task [T251055](https://phabricator.wikimedia.org/T251055)

# Next Nobelprize announcement
see https://www.nobelprize.org/