## Nobel API - check Wikidata and Nobel API
* This [Jupyter Notebook](https://github.com/salgo60/open-data-examples/blob/master/Nobel%20API.ipynb)  

  * WIkidata property [Property:P8024](https://www.wikidata.org/wiki/Property:P8024)
  * [Developer xone nobelprize.org](https://www.nobelprize.org/about/developer-zone-2/)
      * maybe better API is [](https://api.nobelprize.org/2.0/laureates)

In [1]:
from datetime import datetime
now = datetime.now()
print("Last run: ", datetime.now())

Last run:  2020-10-06 13:45:38.709345

In [2]:
import urllib3, json
import pandas as pd 
from tqdm.notebook import trange  
http = urllib3.PoolManager() 
pd.set_option("display.max.columns", None) 
urlbase ="https://api.nobelprize.org/2.0/laureate/"

dftot = pd.DataFrame()
for i in trange(1,1000,): # looks we today have 10504 SFS --> 10503/20
    url = urlbase + str(i)
    r = http.request('GET', url)
    data = json.loads(r.data)
    dftot = dftot.append(pd.DataFrame(data),sort=False)
#dftot.head()

HBox(children=(FloatProgress(value=0.0, max=999.0), HTML(value='')))

,id,knownName,givenName,familyName,fullName,gender,birth,death,links,nobelPrizes,orgName,nativeName,founded,acronym,penName,birthCountry,birthCountryNow,birthContinent
0,1,"{'en': 'Wilhelm Conrad Röntgen', 'se': 'Wilhel...","{'en': 'Wilhelm Conrad', 'se': 'Wilhelm Conrad'}","{'en': 'Röntgen', 'se': 'Röntgen'}","{'en': 'Wilhelm Conrad Röntgen', 'se': 'Wilhel...",male,"{'date': '1845-03-27', 'place': {'city': {'en'...","{'date': '1923-02-10', 'place': {'city': {'en'...","{'rel': 'laureate', 'href': 'http://masterdata...","[{'awardYear': '1901', 'category': {'en': 'Phy...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,2,"{'en': 'Hendrik A. Lorentz', 'se': 'Hendrik A....","{'en': 'Hendrik A.', 'se': 'Hendrik A.'}","{'en': 'Lorentz', 'se': 'Lorentz'}","{'en': 'Hendrik Antoon Lorentz', 'se': 'Hendri...",male,"{'date': '1853-07-18', 'place': {'city': {'en'...","{'date': '1928-02-04', 'place': {'country': {'...","{'rel': 'laureate', 'href': 'http://masterdata...","[{'awardYear': '1902', 'category': {'en': 'Phy...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,3,"{'en': 'Pieter Zeeman', 'se': 'Pieter Zeeman'}","{'en': 'Pieter', 'se': 'Pieter'}","{'en': 'Zeeman', 'se': 'Zeeman'}","{'en': 'Pieter Zeeman', 'se': 'Pieter Zeeman'}",male,"{'date': '1865-05-25', 'place': {'city': {'en'...","{'date': '1943-10-09', 'place': {'city': {'en'...","{'rel': 'laureate', 'href': 'http://masterdata...","[{'awardYear': '1902', 'category': {'en': 'Phy...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,4,"{'en': 'Henri Becquerel', 'se': 'Henri Becquer...","{'en': 'Henri', 'se': 'Henri'}","{'en': 'Becquerel', 'se': 'Becquerel'}","{'en': 'Antoine Henri Becquerel', 'se': 'Antoi...",male,"{'date': '1852-12-15', 'place': {'city': {'en'...","{'date': '1908-08-25', 'place': {'country': {'...","{'rel': 'laureate', 'href': 'http://masterdata...","[{'awardYear': '1903', 'category': {'en': 'Phy...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,5,"{'en': 'Pierre Curie', 'se': 'Pierre Curie'}","{'en': 'Pierre', 'se': 'Pierre'}","{'en': 'Curie', 'se': 'Curie'}","{'en': 'Pierre Curie', 'se': 'Pierre Curie'}",male,"{'date': '1859-05-15', 'place': {'city': {'en'...","{'date': '1906-04-19', 'place': {'city': {'en'...","{'rel': 'laureate', 'href': 'http://masterdata...","[{'awardYear': '1903', 'category': {'en': 'Phy...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
dftot.tail(30)

,id,knownName,givenName,familyName,fullName,gender,birth,death,links,nobelPrizes,orgName,nativeName,founded,acronym,penName,birthCountry,birthCountryNow,birthContinent
0,961,"{'en': 'Gérard Mourou', 'se': 'Gérard Mourou'}","{'en': 'Gérard', 'se': 'Gérard'}","{'en': 'Mourou', 'se': 'Mourou'}","{'en': 'Gérard Mourou', 'se': 'Gérard Mourou'}",male,"{'date': '1944-06-22', 'place': {'city': {'en'...",NaN,"{'rel': 'laureate', 'href': 'http://masterdata...","[{'awardYear': '2018', 'category': {'en': 'Phy...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,962,"{'en': 'Donna Strickland', 'se': 'Donna Strick...","{'en': 'Donna', 'se': 'Donna'}","{'en': 'Strickland', 'se': 'Strickland'}","{'en': 'Donna Strickland', 'se': 'Donna Strick...",female,"{'date': '1959-05-27', 'place': {'city': {'en'...",NaN,"{'rel': 'laureate', 'href': 'http://masterdata...","[{'awardYear': '2018', 'category': {'en': 'Phy...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,963,"{'en': 'Frances H. Arnold', 'se': 'Frances H. ...","{'en': 'Frances H.', 'se': 'Frances H.'}","{'en': 'Arnold', 'se': 'Arnold'}","{'en': 'Frances H. Arnold', 'se': 'Frances H. ...",female,"{'date': '1956-07-25', 'place': {'city': {'en'...",NaN,"{'rel': 'laureate', 'href': 'http://masterdata...","[{'awardYear': '2018', 'category': {'en': 'Che...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,964,"{'en': 'George P. Smith', 'se': 'George P. Smi...","{'en': 'George P.', 'se': 'George P.'}","{'en': 'Smith', 'se': 'Smith'}","{'en': 'George P. Smith', 'se': 'George P. Smi...",male,"{'date': '1941-03-10', 'place': {'city': {'en'...",NaN,"{'rel': 'laureate', 'href': 'http://masterdata...","[{'awardYear': '2018', 'category': {'en': 'Che...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,965,"{'en': 'Sir Gregory P. Winter', 'se': 'Sir Gre...","{'en': 'Sir Gregory P.', 'se': 'Sir Gregory P.'}","{'en': 'Winter', 'se': 'Winter'}","{'en': 'Sir Gregory P. Winter', 'se': 'Sir Gre...",male,"{'date': '1951-04-14', 'place': {'city': {'en'...",NaN,"{'rel': 'laureate', 'href': 'http://masterdata...","[{'awardYear': '2018', 'category': {'en': 'Che...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,966,"{'en': 'Denis Mukwege', 'se': 'Denis Mukwege'}","{'en': 'Denis', 'se': 'Denis'}","{'en': 'Mukwege', 'se': 'Mukwege'}","{'en': 'Denis Mukwege', 'se': 'Denis Mukwege'}",male,"{'date': '1955-03-01', 'place': {'city': {'en'...",NaN,"{'rel': 'laureate', 'href': 'http://masterdata...","[{'awardYear': '2018', 'category': {'en': 'Pea...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,967,"{'en': 'Nadia Murad', 'se': 'Nadia Murad'}","{'en': 'Nadia', 'se': 'Nadia'}","{'en': 'Murad', 'se': 'Murad'}","{'en': 'Nadia Murad Basee Taha', 'se': 'Nadia ...",female,"{'date': '1993-00-00', 'place': {'city': {'en'...",NaN,"{'rel': 'laureate', 'href': 'http://masterdata...","[{'awardYear': '2018', 'category': {'en': 'Pea...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,968,"{'en': 'William D. Nordhaus', 'se': 'William D...","{'en': 'William D.', 'se': 'William D.'}","{'en': 'Nordhaus', 'se': 'Nordhaus'}","{'en': 'William D. Nordhaus', 'se': 'William D...",male,"{'date': '1941-05-31', 'place': {'city': {'en'...",NaN,"{'rel': 'laureate', 'href': 'http://masterdata...","[{'awardYear': '2018', 'category': {'en': 'Eco...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,969,"{'en': 'Paul M. Romer', 'se': 'Paul M. Romer'}","{'en': 'Paul M.', 'se': 'Paul M.'}","{'en': 'Romer', 'se': 'Romer'}","{'en': 'Paul M. Romer', 'se': 'Paul M. Romer'}",male,"{'date': '1955-00-00', 'place': {'city': {'en'...",NaN,"{'rel': 'laureate', 'href': 'http://masterdata...","[{'awardYear': '2018', 'category': {'en': 'Eco...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,970,"{'en': 'William G. Kaelin Jr', 'se': 'William ...","{'en': 'William', 'se': 'William'}","{'en': 'Kaelin', 'se': 'Kaelin'}","{'en': 'William G. Kaelin Jr', 'se': 'William ...",male,"{'date': '1957-11-23', 'place': {'city': {'en'...",NaN,"{'rel': 'laureate', 'href': 'http://masterdata...","[{'awardYear': '2019', 'category': {'en': 'Phy...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,971,"{'en': 'Sir Peter J. Ratcliffe', 'se': 'Sir Pe...","{'en': 'Peter', 'se': 'Peter'}","{'en': 'Ratcliffe', 'se': 'Ratcliffe'}","{'en': 'Sir Peter J. Ratcliffe', 'se': 'Sir Pe...",male,"{'date': '1954-05-14', 'place': {'city': {'en'...",NaN,"{'rel': 'laureate', 'href': 'http://masterdata...","[{'awardYear': '2019', 'category': {'en': 'Phy...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,972,"{'en': 'Gregg L. Semenza', 'se': 'Gregg L. Sem...","{'en': 'Gregg', 'se': 'Gregg'}","{'en': 'Semenza', 'se': 'Semenza'}","{'en': 'Gregg L. Semenza', 'se': 'Gregg L. Sem...",male,"{'date': '1956-07-12', 'place': {'city': {'en'...",NaN,"{'rel': 'laureate', 'href': 'http://masterdata...","[{'awardYear': '2019', 'category': {'en': 'Phy...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,973,"{'en': 'James Peebles', 'se': 'James Peebles'}","{'en': 'James', 'se': 'James'}","{'en': 'Peebles', 'se': 'Peebles'}","{'en': 'James Peebles', 'se': 'James Peebles'}",male,"{'date': '1935-04-25', 'place': {'city': {'en'...",NaN,"{'rel': 'laureate', 'href': 'http://masterdata...","[{'awardYear': '2019', 'category': {'en': 'Phy...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,974,"{'en': 'Michel Mayor', 'se': 'Michel Mayor'}","{'en': 'Michel', 'se': 'Michel'}","{'en': 'Mayor', 'se': 'Mayor'}","{'en': 'Michel Mayor', 'se': 'Michel Mayor'}",male,"{'date': '1942-01-12', 'place': {'city': {'en'...",NaN,"{'rel': 'laureate', 'href': 'http://masterdata...","[{'awardYear': '2019', 'category': {'en': 'Phy...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,975,"{'en': 'Didier Queloz', 'se': 'Didier Queloz'}","{'en': 'Didier', 'se': 'Didier'}","{'en': 'Queloz', 'se': 'Queloz'}","{'en': 'Didier Queloz', 'se': 'Didier Queloz'}",male,"{'date': '1966-02-23', 'place': {'city': {'en'...",NaN,"{'rel': 'laureate', 'href': 'http://masterdata...","[{'awardYear': '2019', 'category': {'en': 'Phy...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,976,"{'en': 'John B. Goodenough', 'se': 'John B. Go...","{'en': 'John', 'se': 'John'}","{'en': 'Goodenough', 'se': 'Goodenough'}","{'en': 'John B. Goodenough', 'se': 'John B. Go...",male,"{'date': '1922-07-25', 'place': {'city': {'en'...",NaN,"{'rel': 'laureate', 'href': 'http://masterdata...","[{'awardYear': '2019', 'category': {'en': 'Che...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,977,"{'en': 'M. Stanley Whittingham', 'se': 'M. Sta...","{'en': 'M. Stanley', 'se': 'M. Stanley'}","{'en': 'Whittingham', 'se': 'Whittingham'}","{'en': 'M. Stanley Whittingham', 'se': 'M. Sta...",male,"{'date': '1941-12-22', 'place': {'country': {'...",NaN,"{'rel': 'laureate', 'href': 'http://masterdata...","[{'awardYear': '2019', 'category': {'en': 'Che...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,978,"{'en': 'Akira Yoshino', 'se': 'Akira Yoshino'}","{'en': 'Akira', 'se': 'Akira'}","{'en': 'Yoshino', 'se': 'Yoshino'}","{'en': 'Akira Yoshino', 'se': 'Akira Yoshino'}",male,"{'date': '1948-01-30', 'place': {'city': {'en'...",NaN,"{'rel': 'laureate', 'href': 'http://masterdata...","[{'awardYear': '2019', 'category': {'en': 'Che...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,979,"{'en': 'Olga Tokarczuk', 'se': 'Olga Tokarczuk'}","{'en': 'Olga', 'se': 'Olga'}","{'en': 'Tokarczuk', 'se': 'Tokarczuk'}","{'en': 'Olga Tokarczuk', 'se': 'Olga Tokarczuk'}",female,"{'date': '1962-01-29', 'place': {'city': {'en'...",NaN,"{'rel': 'laureate', 'href': 'http://masterdata...","[{'awardYear': '2018', 'category': {'en': 'Lit...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,980,"{'en': 'Peter Handke', 'se': 'Peter Handke'}","{'en': 'Peter', 'se': 'Peter'}","{'en': 'Handke', 'se': 'Handke'}","{'en': 'Peter Handke', 'se': 'Peter Handke'}",male,"{'date': '1942-12-06', 'place': {'city': {'en'...",NaN,"{'rel': 'laureate', 'href': 'http://masterdata...","[{'awardYear': '2019', 'category': {'en': 'Lit...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,981,"{'en': 'Abiy Ahmed Ali', 'se': 'Abiy Ahmed Ali'}","{'en': 'Abiy', 'se': 'Abiy'}","{'en': 'Ahmed Ali', 'se': 'Ahmed Ali'}","{'en': 'Abiy Ahmed Ali', 'se': 'Abiy Ahmed Ali'}",male,"{'date': '1976-08-15', 'place': {'city': {'en'...",NaN,"{'rel': 'laureate', 'href': 'http://masterdata...","[{'awardYear': '2019', 'category': {'en': 'Pea...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,982,"{'en': 'Abhijit Banerjee', 'se': 'Abhijit Bane...","{'en': 'Abhijit', 'se': 'Abhijit'}","{'en': 'Banerjee', 'se': 'Banerjee'}","{'en': 'Abhijit Banerjee', 'se': 'Abhijit Bane...",male,"{'date': '1961-02-21', 'place': {'city': {'en'...",NaN,"{'rel': 'laureate', 'href': 'http://masterdata...","[{'awardYear': '2019', 'category': {'en': 'Eco...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,983,"{'en': 'Esther Duflo', 'se': 'Esther Duflo'}","{'en': 'Esther', 'se': 'Esther'}","{'en': 'Duflo', 'se': 'Duflo'}","{'en': 'Esther Duflo', 'se': 'Esther Duflo'}",female,"{'date': '1972-10-25', 'place': {'city': {'en'...",NaN,"{'rel': 'laureate', 'href': 'http://masterdata...","[{'awardYear': '2019', 'category': {'en': 'Eco...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,984,"{'en': 'Michael Kremer', 'se': 'Michael Kremer'}","{'en': 'Michael', 'se': 'Michael'}","{'en': 'Kremer', 'se': 'Kremer'}","{'en': 'Michael Kremer', 'se': 'Michael Kremer'}",male,"{'date': '1964-11-12', 'place': {'city': {'en'...",NaN,"{'rel': 'laureate', 'href': 'http://masterdata...","[{'awardYear': '2019', 'category': {'en': 'Eco...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,985,"{'en': 'Harvey J. Alter', 'se': 'Harvey J. Alt...","{'en': 'Harvey', 'se': 'Harvey'}","{'en': 'Alter', 'se': 'Alter'}","{'en': 'Harvey J. Alter', 'se': 'Harvey J. Alt...",male,"{'date': '1935-00-00', 'place': {'city': {'en'...",NaN,"{'rel': 'laureate', 'href': 'http://masterdata...","[{'awardYear': '2020', 'category': {'en': 'Phy...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,986,"{'en': 'Michael Houghton', 'se': 'Michael Houg...","{'en': 'Michael', 'se': 'Michael'}","{'en': 'Houghton', 'se': 'Houghton'}","{'en': 'Michael Houghton', 'se': 'Michael Houg...",male,NaN,NaN,"{'rel': 'laureate', 'href': 'http://masterdata...","[{'awardYear': '2020', 'category': {'en': 'Phy...",NaN,NaN,NaN,NaN,NaN,"{'en': 'United Kingdom', 'no': 'Storbritannia'...","{'en': 'United Kingdom', 'no': 'Storbritannia'...",{'en': 'Europe'}
0,987,"{'en': 'Charles M. Rice', 'se': 'Charles M. Ri...","{'en': 'Charles', 'se': 'Charles'}","{'en': 'Rice', 'se': 'Rice'}","{'en': 'Charles M. Rice', 'se': 'Charles M. Ri...",male,"{'date': '1952-00-00', 'place': {'city': {'en'...",NaN,"{'rel': 'laureate', 'href': 'http://masterdata...","[{'awardYear': '2020', 'category': {'en': 'Phy...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,988,"{'en': 'Roger Penrose', 'se': 'Roger Penrose'}","{'en': 'Roger', 'se': 'Roger'}","{'en': 'Penrose', 'se': 'Penrose'}","{'en': 'Roger Penrose', 'se': 'Roger Penrose'}",male,"{'date': '1931-00-00', 'place': {'city': {'en'...",NaN,"{'rel': 'laureate', 'href': 'http://masterdata...","[{'awardYear': '2020', 'category': {'en': 'Phy...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,989,"{'en': 'Reinhard Genzel', 'se': 'Reinhard Genz...","{'en': 'Reinhard', 'se': 'Reinhard'}","{'en': 'Genzel', 'se': 'Genzel'}","{'en': 'Reinhard Genzel', 'se': 'Reinhard Genz...",male,"{'date': '1952-03-24', 'place': {'city': {'en'...",NaN,"{'rel': 'laureate', 'href': 'http://masterdata...","[{'awardYear': '2020', 'category': {'en': 'Phy...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,990,"{'en': 'Andrea Ghez', 'se': 'Andrea Ghez'}","{'en': 'Andrea', 'se': 'Andrea'}","{'en': 'Ghez', 'se': 'Ghez'}","{'en': 'Andrea Ghez', 'se': 'Andrea Ghez'}",female,"{'date': '1965-00-00', 'place': {'city': {'en'...",NaN,"{'rel': 'laureate', 'href': 'http://masterdata...","[{'awardYear': '2020', 'category': {'en': 'Phy...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [41]:
listNobel = []
for index,row in dftot.iterrows():
    new_item = dict()
    new_item['id'] = row['id']
    try:
        new_item['name_en'] = row['knownName']['en']
    except:
        pass
    try:
        new_item['name_se'] = row['knownName']['se']
    except:
        pass
    new_item['link'] = row['links']['href']
    try:
        new_item['gender'] = row['gender']
    except:
        pass
    #new_item['birth'] = row['birth']['date']
    listNobel.append(new_item)
NobelTot = pd.DataFrame(listNobel,
                  columns=['id','name_en','name_se','link','gender','birth'])

NobelTot.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 949 entries, 0 to 948
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   id       949 non-null    object
 1   name_en  925 non-null    object
 2   name_se  925 non-null    object
 3   link     949 non-null    object
 4   gender   925 non-null    object
 5   birth    0 non-null      float64
dtypes: float64(1), object(5)
memory usage: 44.6+ KB

In [42]:
NobelTot

,id,name_en,name_se,link,gender,birth
0,1,Wilhelm Conrad Röntgen,Wilhelm Conrad Röntgen,http://masterdataapi.nobelprize.org/2/laureate/1,male,NaN
1,2,Hendrik A. Lorentz,Hendrik A. Lorentz,http://masterdataapi.nobelprize.org/2/laureate/2,male,NaN
2,3,Pieter Zeeman,Pieter Zeeman,http://masterdataapi.nobelprize.org/2/laureate/3,male,NaN
3,4,Henri Becquerel,Henri Becquerel,http://masterdataapi.nobelprize.org/2/laureate/4,male,NaN
4,5,Pierre Curie,Pierre Curie,http://masterdataapi.nobelprize.org/2/laureate/5,male,NaN
...,...,...,...,...,...,...
944,986,Michael Houghton,Michael Houghton,http://masterdataapi.nobelprize.org/2/laureate...,male,NaN
945,987,Charles M. Rice,Charles M. Rice,http://masterdataapi.nobelprize.org/2/laureate...,male,NaN
946,988,Roger Penrose,Roger Penrose,http://masterdataapi.nobelprize.org/2/laureate...,male,NaN
947,989,Reinhard Genzel,Reinhard Genzel,http://masterdataapi.nobelprize.org/2/laureate...,male,NaN
948,990,Andrea Ghez,Andrea Ghez,http://masterdataapi.nobelprize.org/2/laureate...,female,NaN

In [ ]:
dftot.info()

In [ ]:
dftot[['nummer','titel','publicerad','beslutad','datum','summary']]

In [ ]:
dftot.publicerad.unique()

In [ ]:
dftot.publicerad.value_counts()

In [ ]:
dftot.publicerad.value_counts().sort_index(ascending=False)

In [ ]:
ftot.publicerad.value_counts().sort_index(ascending=False)[:50]

In [ ]:
%matplotlib inline  
import matplotlib.pyplot as plt   
plot = dftot.publicerad.value_counts()[1:30].plot.bar(y='counts', figsize=(25, 5)) 
plt.show()

In [ ]:
%matplotlib inline  
import matplotlib.pyplot as plt   
plot = dftot.datum.value_counts()[1:30].plot.bar(y='counts', figsize=(25, 5)) 
plt.show()

In [ ]:
plotPublishedSFSperMonth = dftot['publicerad'].groupby(dftot.publicerad.dt.to_period("M")).agg('count')
plotPublishedSFSperMonth.plot( kind = 'bar') 
plt.title("SFS per month")
plt.show()

In [ ]:
plotDatumSFSperMonth = dftot['datum'].groupby(dftot.datum.dt.to_period("M")).agg('count')
plotDatumSFSperMonth.plot( kind = 'bar') 
plt.title("SFS Datum per month")
plt.show()

In [ ]:
plotDatumSFSperMonth = dftot['datum'].groupby(dftot.datum.dt.to_period("M")).agg('count')[10:]
plotDatumSFSperMonth.plot( kind = 'bar') 
plt.title("SFS Datum per month")
plt.figsize=(5, 35) 

plt.show()

In [ ]:
plotDatumSFSperMonth

In [ ]:
#Last year 
PublishedSFS2016perMonth =  dftot[dftot["publicerad"].dt.year > 2016 ]
plotPublishedSFS2016perMonth = PublishedSFS2016perMonth['publicerad'].groupby(PublishedSFS2016perMonth.publicerad.dt.to_period("M")).agg('count')
plotPublishedSFS2016perMonth.plot( kind = 'bar',) 
plt.title("SFS > 2016 per month")
plt.figsize=(5, 35) 
figure(figsize=(1,1)) 
plt.show()

In [ ]:
plotDatumSFSperMonth[100:]

In [ ]:
 dftot.debattnamn.value_counts()

In [ ]:
dftot.info()

In [ ]:
organCount = dftot.organ.value_counts() 
organCount

In [ ]:
dftot.organ.value_counts().plot.pie(y='counts', figsize=(15, 15)) 
plt.show()

In [ ]:
dftot.organ.value_counts()[1:50]

In [ ]:
dftot.organ.value_counts()[50:100]

In [ ]:
dftot.organ.value_counts()[100:150]

In [ ]:
dftot.domain.value_counts()

In [ ]:
dftot.rm.value_counts() 
plotRM = dftot.rm.value_counts().plot.bar(y='counts', figsize=(25, 5)) 
plt.show()

In [ ]:
dftot['datum'] =pd.to_datetime(dftot.datum)  
dftot['publicerad'] =pd.to_datetime(dftot.publicerad)  
dftot['systemdatum'] =pd.to_datetime(dftot.systemdatum, format='%Y-%m-%d')
# 2016-02-11 15:26:06

In [ ]:
dftot.info()

In [ ]:
dftot = dftot.sort_values('datum') 
dftot.head()

In [ ]:
dftot.tail()

In [ ]:
dftot.subtyp.value_counts()

Gissning 
* regl-riksg verkar vara Reglemente för Riksgäldskontoret 
* regl-riksb är nog Riksbanken

In [ ]:
dftot.debattnamn.value_counts()

In [ ]:
ftot = dftot.sort_values(by='id', ascending=False)

In [ ]:
dftot.info()

In [ ]:
dftot.head(1000)

In [ ]:
print("End run: ", datetime.now())