## TestKepler
* What is [kepler.gl for Geospatial Analysis](https://www.analyticsvidhya.com/blog/2020/06/learn-visualize-geospatial-data-jupyter-kepler/?utm_source=feedburner&utm_medium=email&utm_campaign=Feed%3A+AnalyticsVidhya+%28Analytics+Vidhya%29)?
* GITHUB [keplergl-jupyter](https://docs.kepler.gl/docs/keplergl-jupyter)

In [4]:
import pandas as pd
df=pd.read_csv('https://raw.githubusercontent.com/uber-web/kepler.gl-data/master/nyctrips/data.csv')
print('Shape=>',df.shape)
df.head()

Shape=> (97986, 12)

   VendorID        tpep_pickup_datetime       tpep_dropoff_datetime  ...  fare_amount  tip_amount  total_amount
0         2  2015-01-15 19:05:39 +00:00  2015-01-15 19:23:42 +00:00  ...         12.0        3.25         17.05
1         2  2015-01-15 19:05:39 +00:00  2015-01-15 19:32:00 +00:00  ...         16.5        4.38         22.68
2         2  2015-01-15 19:05:40 +00:00  2015-01-15 19:21:00 +00:00  ...         12.5        0.00         14.30
3         2  2015-01-15 19:05:40 +00:00  2015-01-15 19:28:18 +00:00  ...         26.0        8.08         41.21
4         2  2015-01-15 19:05:41 +00:00  2015-01-15 19:20:36 +00:00  ...         11.5        0.00         13.30

[5 rows x 12 columns]

In [5]:
df.columns

Index(['VendorID', 'tpep_pickup_datetime', 'tpep_dropoff_datetime',
       'passenger_count', 'trip_distance', 'pickup_longitude',
       'pickup_latitude', 'dropoff_longitude', 'dropoff_latitude',
       'fare_amount', 'tip_amount', 'total_amount'],
      dtype='object')

In [6]:
df.isnull().sum()

VendorID                 0
tpep_pickup_datetime     0
tpep_dropoff_datetime    0
passenger_count          0
trip_distance            0
pickup_longitude         0
pickup_latitude          0
dropoff_longitude        0
dropoff_latitude         0
fare_amount              0
tip_amount               0
total_amount             0
dtype: int64

In [7]:
from keplergl import KeplerGl
map1=KeplerGl(height=500)
map1

User Guide: https://docs.kepler.gl/docs/keplergl-jupyter

KeplerGl(height=500)

In [8]:
map1.add_data(data=df,name='New York City Taxi Trips')